body {
    padding-top: 60px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Sets the containers height and width */
.base-timer {
    position: relative;
    height: 400px;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}

/* Removes SVG styling that would hide the time label */
.base-timer__circle {
    fill: none;
    stroke: none;
}

/* The SVG path that displays the timer's progress */
.base-timer__path-elapsed {
    stroke-width: 7px;
    stroke: #aeaeae;
}

.base-timer__label {
    color: #f1f1f1;
    font-weight: 500;
    font-family: Monaco, monospace;
    position: absolute;
    /* Size should match the parent container */
    width: 400px;
    height: 400px;
    /* Keep the label aligned to the top */
    top: 0;
    /* Create a flexible box that centers content vertically and horizontally */
    display: flex;
    align-items: center;
    justify-content: center;
    /* Sort of an arbitrary number; adjust to your liking */
    font-size: 90px;
}

.base-timer__path-remaining {
    color: #66fcf1;
    /* Just as thick as the original ring */
    stroke-width: 7px;
    /* Rounds the line endings to create a seamless circle */
    stroke-linecap: round;
    /* Makes sure the animation starts at the top of the circle */
    transform: rotate(90deg);
    transform-origin: center;
    /* One second aligns with the speed of the countdown timer */
    transition: 1s linear all;
    /* Allows the ring to change color when the color value updates */
    stroke: currentColor;
}

.base-timer__svg {
    /* Flips the svg and makes the animation to move left-to-right */
    transform: scaleX(-1);
}

.start-reset-timer {
    color: white;
    font-size: 20px;
}


.seconds-timer {
    font-size: 18px;
    font-weight : 600;
   
}

@media (min-width: 970px) {
    #start_button_timer {
        margin-right : 5px;
    }
}