@{
    ViewBag.Title = "About Grit";
}
<h2>@ViewBag.Title.</h2>
<h3>Proiect Licenta.</h3>


<p>Grit is the perfect tracking app to help you with your fitness progress.</p>
<p>
    <span>
        Background photo by
        <a href="https://unsplash.com/@("@")adrienolichon?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Adrien Olichon</a> on <a href="https://unsplash.com/s/photos/texture-black?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a>
    </span>
</p>

@section Quote{
    The difference is in the details.
}

