@{
    ViewBag.Title = "About Grit";
}
<h2>@ViewBag.Title.</h2>


<h4>Grit is the perfect tracking app to help you with your fitness progress.</h4>
<hr />
<p>
    The aim of this project is to create a tool that can improve an individual's performance in terms of weight training in accordance with body recomposition. <br /> <br />
    The method chosen is to implement a software application that is as suitable for a beginner as for an experienced athlete. To achieve this goal, we have implemented a platform in which a user can create their own training plan, for which he can track the weight used, with a clever algorithm meant to challenge growth through progressive overload. In addition, we have developed a page where the user can monitor their body weight, incorporated with essential statistics. <br /> <br />
    At the same time, because the user's interaction with the application is something that mustn’t be neglected, the application is primarily mobile friendly, having a responsive web design, an attractive interface and an intuitive way of use, meant to capture attention.
</p>
<p>
    <span>
        Background photo courtesy by <a href="https://www.photos-public-domain.com/2011/03/23/black-brick-wall-texture/"> photos-public-domain.com</a>.
        @*        <a href="https://unsplash.com/@("@")adrienolichon?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Adrien Olichon</a> on <a href="https://unsplash.com/s/photos/texture-black?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a>*@
    </span>
</p>

@section Quote{
    The difference is in the details.
}

