@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style=" color : #aeaeae">
    <h1>Grit</h1>
    <p style="font-size : 22px;" class="lead">Grit is passion and perseverance for long-term and meaningful goals.</p>
    <p class="pull-right"> - Angela Duckworth</p>
    <hr style="border-top-color: #66fcf1; width:100%" />
    <p>It is the ability to persist in something you feel passionate about and persevere when you face obstacles. This kind of passion is not about intense emotions or infatuation. It’s about having direction and commitment. When you have this kind of passion, you can stay committed to a task that may be difficult or boring.  </p>
    <p>@Html.ActionLink("Log in »", "Login", "Account", routeValues: null, htmlAttributes: new { @class = "btn btn-primary btn-lg" })</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Choose a training plan</h2>
        <p>
            Track your intensity in the gym!<br />
            Sets, reps, and even your weights. The app intelligently pushes you to lift more each week.
        </p>
        <p>@Html.ActionLink("Start now »", "FillInfo", "Account", routeValues : null ,htmlAttributes: new { @class = "btn btn-primary" })</p>
    </div>
    <div class="col-md-4">
        <h2>Time your workouts</h2>
        <p>Use this feature to monitor how much time you rest between sets.</p>
        <p>@Html.ActionLink("Countdown timer »", "Timer", "Home", htmlAttributes: new { @class = "btn btn-primary" })</p>
    </div>
    <div class="col-md-4">
        <h2>Track your progress</h2>
        <p>You can easily track your bodyweight every day and keep and eye on its fluctuations.</p>
        <p>@Html.ActionLink("Add weight »", "Progress", "Weight", routeValues: null, htmlAttributes: new { @class = "btn btn-primary" })</p>
    </div>
</div>

@section Quote{
    Proud but Never Satisfied.
}