
@{
    ViewBag.Title = "Timer";
}

<div class="container" style="text-align: center;">
    <h3>Countdown Timer</h3>
    <div id="timer"></div>
    <br />
    <div class="row">
        <button class="btn btn-primary col-md-1 col-xs-2 col-md-offset-2 seconds_timer" id="sub_timer">&#8722 15sec</button>
        <button class="btn col-md-2 col-xs-2 col-md-offset-1 col-xs-offset-1 start_reset_timer" id="start_button_timer" style="background-color:#006b00">Start</button>
        <button class="btn col-md-2 col-xs-2 col-md-offset-0 col-xs-offset-2 start_reset_timer" id="reset_button_timer" style="background-color: #ff3e3e">Reset</button>
        <button class="btn btn-primary col-md-1 col-xs-2 col-md-offset-1 col-xs-offset-1 seconds_timer" id="add_timer">&#43 15sec</button>
        <div class="col-md-offset-2"></div>
    </div>

</div>



@section scripts{
    <script src="@Url.Content("~/Scripts/scripts/timer.js")"></script>
}

@section Quote{
    You are responsible for you.
}
